.note-card {
  background: var(--white);
  position: relative;
  width: 50%;
  padding: 0.5rem 0.5rem 2rem;
  margin: 0 auto;
}
.show-note {
  background: var(--white);
  position: relative;
  padding: 0.5rem 0.5rem 2rem;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 30%);
  width: 250px;
}
.show-note div:nth-child(1),
.show-note div:nth-child(2) {
  overflow: hidden;
  max-height: 200px;
}
.notes-list {
  flex-wrap: wrap;
}
.card-input {
  outline: 0;
  border: 0;
  resize: none;
}
.card-input:empty::before {
  color: var(--light-gray);
  content: "Take a note";
}
.position-absolute {
  position: absolute;
}
.fa-thumbtack {
  top: 4px;
  right: 4px;
}
.btn-container {
  bottom: 4px;
  right: 4px;
  justify-content: end;
}
